In [0]:
import pandas as pd

In [0]:
#loding data
df=pd.read_csv('http://13.234.66.67/summer19/datasets/social.csv')

In [3]:
#schema
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB

In [4]:
# top 5 rows
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
# removing user id
filter_data= df.iloc[0:,2:]

In [6]:
filter_data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [0]:
# now we can apply training test
features=filter_data.iloc[0:,0:2]

In [0]:
#label finding
label=filter_data.iloc[0:,2]

In [0]:
# training and testing
from sklearn.model_selection import train_test_split

In [0]:
X,x,Y,y=train_test_split(features,label,test_size=0.2)

In [0]:
#now apply features scalling
from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [13]:
# apply scaling in training data only
sc.fit_transform(X)

array([[ 1.55601179,  1.00165687],
       [-0.07558114, -1.08333113],
       [-0.26753325,  0.79609467],
       [ 0.40429913, -0.14361823],
       [ 0.02039491,  0.03257794],
       [-0.07558114, -0.49601057],
       [ 0.30832308, -0.29044837],
       [-0.93936564, -0.43727851],
       [-0.26753325,  2.26439608],
       [ 0.40429913,  0.29687219],
       [ 0.11637097, -0.3198144 ],
       [-0.84338958, -0.67220674],
       [ 1.93991601,  0.91355878],
       [-0.26753325,  0.26750616],
       [-1.70717408,  0.47306836],
       [-0.1715572 ,  1.61834346],
       [ 0.40429913, -0.49601057],
       [-1.13131775,  1.41278126],
       [ 0.40429913,  0.00321191],
       [ 0.59625124,  2.02946785],
       [ 2.03589207,  2.14693196],
       [ 0.02039491, -0.26108234],
       [-1.03534169,  1.9707358 ],
       [-1.41924591, -0.64284071],
       [-1.70717408, -0.99523305],
       [ 0.30832308,  0.03257794],
       [-1.51522197, -1.52382155],
       [ 0.98015546, -0.84840291],
       [ 0.40429913, -0.46664454],
       [ 1.46003574,  0.35560425],
       [ 0.88417941, -1.17142922],
       [ 0.98015546, -1.20079525],
       [ 1.07613152, -1.23016127],
       [ 0.88417941, -1.31825936],
       [-0.07558114, -0.43727851],
       [ 0.30832308, -0.55474263],
       [-0.07558114, -0.5253766 ],
       [ 0.21234702, -0.26108234],
       [-1.89912619, -0.05552015],
       [ 2.13186812,  1.11912098],
       [-0.07558114,  0.12067602],
       [-0.26753325,  0.15004205],
       [-0.26753325, -0.34918043],
       [ 0.78820335,  0.53180042],
       [-1.89912619,  0.35560425],
       [-1.2272938 , -1.08333113],
       [-1.51522197, -1.2595273 ],
       [-0.55546142,  0.88419275],
       [ 0.6922273 , -1.40635744],
       [ 0.78820335, -0.84840291],
       [-1.61119802, -1.58255361],
       [ 1.93991601,  0.73736261],
       [ 1.36405968,  0.59053247],
       [-0.45948536, -1.14206319],
       [ 0.11637097,  0.03257794],
       [-1.13131775, -1.55318758],
       [ 0.21234702, -0.14361823],
       [ 0.98015546,  0.76672864],
       [ 1.93991601, -0.67220674],
       [ 0.78820335,  0.12067602],
       [-0.65143747, -0.1142522 ],
       [-0.74741353,  0.56116644],
       [-1.03534169,  0.4143363 ],
       [ 0.21234702, -0.29044837],
       [-0.84338958,  0.38497028],
       [-1.51522197, -0.43727851],
       [ 0.6922273 , -1.40635744],
       [ 1.93991601, -0.93650099],
       [ 2.03589207, -0.81903688],
       [-0.26753325,  0.20877411],
       [-0.26753325,  0.15004205],
       [-1.03534169, -0.37854646],
       [ 2.03589207,  0.17940808],
       [ 1.17210757, -1.4650895 ],
       [ 0.11637097,  0.26750616],
       [-1.2272938 ,  0.59053247],
       [-1.13131775, -1.11269716],
       [-0.1715572 ,  0.85482673],
       [ 0.98015546,  1.79453963],
       [-0.65143747, -1.52382155],
       [-0.84338958,  2.29376211],
       [-0.84338958, -0.78967085],
       [ 1.17210757, -0.76030482],
       [-0.26753325,  0.53180042],
       [-1.13131775, -1.17142922],
       [ 0.30832308, -0.20235029],
       [-1.41924591,  0.35560425],
       [ 1.07613152, -0.14361823],
       [-0.93936564,  0.44370233],
       [ 2.03589207,  1.7651736 ],
       [ 0.98015546,  2.00010182],
       [ 0.98015546, -1.02459908],
       [ 0.78820335, -1.37699141],
       [-0.07558114,  0.23814013],
       [-0.84338958,  0.29687219],
       [ 0.40429913,  0.15004205],
       [-0.26753325, -0.93650099],
       [-0.65143747, -1.0539651 ],
       [-1.13131775, -0.78967085],
       [ 1.07613152, -0.90713496],
       [-0.55546142,  1.38341523],
       [-0.55546142,  1.91200374],
       [-0.26753325, -0.76030482],
       [ 0.02039491, -0.43727851],
       [-0.65143747, -0.05552015],
       [ 1.07613152,  2.08819991],
       [ 0.21234702, -0.37854646],
       [ 0.30832308,  0.26750616],
       [-0.26753325, -1.40635744],
       [ 1.36405968, -0.93650099],
       [-0.55546142, -1.52382155],
       [-1.32326986, -1.11269716],
       [-0.45948536, -0.84840291],
       [ 0.88417941, -1.37699141],
       [-0.26753325, -0.26108234],
       [-1.13131775,  0.29687219],
       [ 0.30832308, -0.5253766 ],
       [ 2.13186812,  0.38497028],
       [ 1.65198785, -0.90713496],
       [-0.26753325, -0.58410865],
       [-0.74741353,  0.50243439],
       [ 0.21234702,  0.15004205],
       [ 1.55601179, -1.28889333],
       [ 1.36405968,  2.35249416],
       [-1.13131775, -0.5253766 ],
       [-0.26753325, -0.37854646],
       [-0.1715572 ,  1.64770949],
       [-0.74741353,  1.91200374],
       [-1.80315013, -1.49445553],
       [ 0.11637097,  1.88263771],
       [-1.80315013,  0.17940808],
       [-1.03534169,  0.53180042],
       [-0.74741353, -1.55318758],
       [ 0.98015546, -1.08333113],
       [ 0.78820335, -0.3198144 ],
       [ 2.13186812, -0.70157277],
       [-0.55546142,  0.47306836],
       [ 2.03589207,  0.53180042],
       [ 0.30832308, -0.5253766 ],
       [ 0.6922273 ,  0.26750616],
       [-1.13131775,  0.29687219],
       [-0.84338958, -1.23016127],
       [-0.65143747,  0.56116644],
       [ 0.30832308,  0.06194397],
       [-0.26753325,  0.06194397],
       [-0.1715572 ,  0.15004205],
       [ 0.21234702,  1.08975495],
       [-0.93936564,  0.50243439],
       [-1.13131775,  0.06194397],
       [ 0.50027519,  1.23658509],
       [-1.41924591, -0.20235029],
       [ 0.98015546,  1.88263771],
       [ 0.02039491, -0.26108234],
       [-1.70717408,  0.12067602],
       [-1.2272938 ,  0.29687219],
       [ 0.78820335, -1.23016127],
       [ 0.21234702, -0.67220674],
       [-0.93936564,  0.26750616],
       [-0.93936564,  0.4143363 ],
       [ 0.21234702,  0.03257794],
       [ 0.30832308, -1.17142922],
       [ 0.11637097, -0.26108234],
       [ 0.21234702, -0.37854646],
       [ 0.40429913,  0.59053247],
       [-1.80315013,  0.44370233],
       [ 0.02039491, -0.58410865],
       [-0.07558114,  0.06194397],
       [ 1.84393996, -1.28889333],
       [-0.1715572 , -0.29044837],
       [ 0.40429913,  1.11912098],
       [-1.51522197,  0.32623822],
       [-0.36350931,  1.32468318],
       [-0.93936564, -0.76030482],
       [-0.74741353,  1.08975495],
       [ 1.7479639 , -0.29044837],
       [-0.65143747,  0.12067602],
       [-0.65143747,  1.41278126],
       [ 0.02039491, -0.14361823],
       [ 1.65198785,  1.61834346],
       [-1.2272938 ,  0.26750616],
       [ 0.21234702,  2.11756594],
       [-0.65143747,  0.03257794],
       [-0.1715572 , -1.08333113],
       [ 1.36405968,  1.29531715],
       [ 0.88417941, -0.78967085],
       [ 0.40429913,  0.09130999],
       [-1.03534169, -1.14206319],
       [-1.03534169,  0.56116644],
       [-1.80315013, -1.43572347],
       [ 0.98015546,  0.59053247],
       [-1.2272938 ,  0.50243439],
       [ 0.40429913,  0.29687219],
       [ 0.02039491, -0.55474263],
       [-1.03534169,  0.59053247],
       [-1.80315013,  0.00321191],
       [-0.26753325, -0.14361823],
       [ 0.88417941, -1.0539651 ],
       [ 0.88417941,  1.03102289],
       [ 1.46003574,  0.06194397],
       [-1.32326986,  0.4143363 ],
       [-0.26753325, -0.67220674],
       [ 0.98015546, -1.17142922],
       [-0.26753325, -0.3198144 ],
       [ 0.30832308,  0.29687219],
       [-0.07558114,  2.17629799],
       [-0.74741353,  0.29687219],
       [-0.93936564,  0.56116644],
       [ 1.84393996,  0.12067602],
       [-1.13131775, -1.61191964],
       [ 2.13186812,  0.94292481],
       [ 0.02039491,  1.23658509],
       [ 0.11637097,  1.53024537],
       [-0.84338958, -0.78967085],
       [-0.1715572 , -0.58410865],
       [-1.13131775, -1.02459908],
       [-0.45948536,  2.32312813],
       [-0.1715572 , -0.46664454],
       [ 0.21234702,  0.23814013],
       [ 1.55601179,  1.11912098],
       [ 0.30832308,  0.50243439],
       [-0.26753325, -0.43727851],
       [ 0.98015546,  2.08819991],
       [ 2.13186812, -1.0539651 ],
       [ 1.46003574,  2.14693196],
       [ 1.84393996, -0.29044837],
       [-1.32326986, -1.2595273 ],
       [ 1.46003574,  1.00165687],
       [-1.70717408, -1.37699141],
       [ 0.21234702, -0.37854646],
       [-0.36350931, -0.78967085],
       [ 0.78820335, -1.11269716],
       [-0.45948536, -0.78967085],
       [-0.84338958,  0.38497028],
       [-0.26753325, -1.4650895 ],
       [ 0.40429913, -0.17298426],
       [ 1.07613152,  0.53180042],
       [ 1.07613152,  0.56116644],
       [ 0.88417941,  2.17629799],
       [-0.26753325, -1.2595273 ],
       [ 0.30832308,  0.06194397],
       [ 1.7479639 ,  1.85327168],
       [ 0.11637097,  0.03257794],
       [-0.65143747, -0.34918043],
       [ 0.02039491, -0.58410865],
       [-0.74741353, -0.61347468],
       [ 0.88417941,  1.26595112],
       [-0.55546142,  1.47151332],
       [ 0.02039491, -0.3198144 ],
       [ 0.30832308,  0.06194397],
       [-1.2272938 , -1.40635744],
       [-1.70717408,  0.35560425],
       [ 1.93991601,  2.17629799],
       [ 1.65198785,  1.7651736 ],
       [-1.80315013, -1.31825936],
       [-1.03534169, -1.4650895 ],
       [-0.74741353, -1.61191964],
       [-0.07558114,  2.23503005],
       [-0.55546142, -1.52382155],
       [-0.07558114,  0.00321191],
       [ 0.11637097,  1.88263771],
       [-0.74741353,  0.26750616],
       [ 0.6922273 , -1.11269716],
       [-1.13131775,  0.47306836],
       [ 0.30832308, -0.73093879],
       [ 0.88417941, -0.58410865],
       [-0.45948536, -0.55474263],
       [ 0.40429913,  0.26750616],
       [-0.1715572 ,  1.41278126],
       [-1.32326986, -0.43727851],
       [ 0.6922273 , -0.73093879],
       [-0.1715572 ,  2.17629799],
       [-1.89912619,  0.47306836],
       [ 0.30832308,  0.06194397],
       [ 0.98015546,  1.44214729],
       [ 0.11637097, -0.81903688],
       [ 0.98015546,  0.12067602],
       [ 0.11637097,  0.15004205],
       [-1.32326986, -0.43727851],
       [-0.36350931, -1.31825936],
       [-0.26753325,  0.09130999],
       [ 1.36405968,  2.00010182],
       [ 1.07613152, -1.23016127],
       [-0.65143747,  0.17940808],
       [-0.93936564,  1.5596114 ],
       [-0.26753325, -0.29044837],
       [-0.65143747, -1.61191964],
       [-0.36350931,  0.06194397],
       [ 1.07613152,  0.47306836],
       [ 0.88417941, -0.61347468],
       [-0.07558114,  0.26750616],
       [ 0.02039491,  0.29687219],
       [ 1.46003574, -1.0539651 ],
       [-0.45948536, -0.02615412],
       [-0.93936564, -1.11269716],
       [-0.07558114,  0.67863056],
       [-1.41924591, -0.1142522 ],
       [-0.07558114,  0.03257794],
       [ 0.6922273 ,  1.79453963],
       [-0.36350931,  1.23658509],
       [-0.36350931, -0.78967085],
       [-1.03534169, -1.55318758],
       [ 0.11637097,  1.06038892],
       [-0.93936564, -0.3198144 ],
       [ 2.03589207,  0.38497028],
       [-0.45948536, -1.23016127],
       [ 2.13186812, -0.81903688],
       [ 0.40429913, -0.46664454],
       [-1.03534169, -0.46664454],
       [ 1.17210757,  0.53180042],
       [-0.26753325,  0.6198985 ],
       [-1.70717408, -0.61347468],
       [ 0.59625124, -0.90713496],
       [ 1.84393996,  1.53024537],
       [ 0.40429913, -0.14361823],
       [ 0.88417941, -1.4650895 ],
       [ 0.02039491,  1.26595112],
       [-1.80315013, -1.28889333],
       [-0.26753325, -0.90713496],
       [ 0.02039491,  0.03257794],
       [-1.13131775, -1.58255361]])

In [14]:
X

     Age  EstimatedSalary
316   54           104000
162   37            33000
249   35            97000
126   42            65000
368   38            71000
225   37            53000
325   41            60000
134   28            55000
230   35           147000
229   42            80000
394   39            59000
169   29            47000
204   58           101000
337   35            79000
12    20            86000
308   36           125000
377   42            53000
172   26           118000
310   42            70000
382   44           139000
219   59           143000
349   38            61000
31    27           137000
56    23            48000
197   20            36000
203   41            71000
58    22            18000
22    48            41000
359   42            54000
321   53            82000
..   ...              ...
109   38            80000
361   53            34000
164   33            69000
189   28            32000
285   37            93000
62    23            66000
111   37            71000
259   45           131000
75    34           112000
173   34            43000
40    27            17000
273   39           106000
101   28            59000
64    59            83000
36    33            28000
272   60            42000
305   42            54000
47    27            54000
242   50            88000
221   35            91000
82    20            49000
250   44            39000
247   57           122000
332   42            65000
25    47            20000
350   38           113000
191   19            26000
200   35            39000
276   38            71000
180   26            16000

[320 rows x 2 columns]

In [0]:
# testing data scaling
x=sc.transform(x)

In [0]:
#knn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
# random forest call with number of decision TREE 
rclf=RandomForestClassifier(n_estimators=20)

In [0]:
# now training 
trained=rclf.fit(X,Y)

In [0]:
# now predicting 
output=trained.predict(x)

In [21]:
output

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [20]:
y

348    0
170    0
54     0
186    0
240    1
356    1
279    1
88     0
51     0
118    0
228    0
353    0
175    0
178    0
209    0
299    1
286    0
205    0
238    0
68     0
65     0
145    0
45     0
7      1
146    1
365    1
167    0
306    0
231    0
302    1
      ..
243    1
76     0
96     0
293    0
283    1
343    1
53     0
184    0
182    1
201    0
89     0
73     0
105    0
364    1
218    0
150    0
295    0
235    1
66     0
119    0
84     0
237    0
266    0
17     1
379    1
148    0
99     0
270    0
329    1
351    0
Name: Purchased, Length: 80, dtype: int64